@font-face 
{
	font-family: 'AstronBoy';
	src: url('Fonts/astron_boy.otf');
	src: url('Fonts/astron_boy_italic.otf');
}
body {
  background: url(images/greyzz.png);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 28px;
  color:rgb(120, 120, 120);
}

.navbar {
  background: url(images/greyzz.png);
}

h1 {
  font-family: 'AstronBoy', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 72px;
  color: rgb(129, 22, 85);
}
h2, .accordion-button, .bi {
  font-size: 38px;
  color: rgb(166, 83, 131);
}
h3 {
  font-size: 32px;
  color: rgb(201, 145, 178);
}

.about, .openDays {
  margin: 10px;
}

.accordion {
  margin-top: 10px;
}
.card {
  margin-top: 10px;
}
.card-text ul {
  list-style-type: none; 
}

table strong {
  font-family: 'AstronBoy', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 38px;
}
#collapseThree table strong {
  color: rgb(201, 145, 178);
}
td {
  vertical-align: top;
}
#collapseFour td {
  padding: 10px;
  border-bottom: 1px solid gray;
}

.footer {
  margin-top: 50px;
  text-align: center;
}
footer ul
{
  list-style-type: none;
	display: flex;
  justify-content: center;
}
footer li
{
	margin: 10px;
}

@media screen and (min-width: 992px) {
  .img-fluid {
    width: 800px;
  }
  body {
    font-size: 21px;
  }
  h1 {
    font-size: 54px;
  }
  h2, .accordion-button {
    font-size: 28.5px;
  }
  h3 {
    font-size: 24px;
  }
  .bi {
    width: 24px;
  }
  .logo {
    width: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .img-fluid {
    width: 600px;
  }
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 36px;
  }
  h2, .accordion-button {
    font-size: 19px;
  }
  h3 {
    font-size: 16px;
  }
  .bi {
    width: 16px;
  }
  .logo {
    width: 40px;
  }
}